<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>轮播添加</title>
    <link rel="stylesheet" href="../layui/css/layui.css"  media="all">
    <link rel="stylesheet" href="../css/main.css" />
    <script type="text/javascript" src="../js/jquery-3.2.1.min.js" ></script>
    <script src="../layui/layui.js" charset="utf-8"></script>
    <script>
        function addslideshow() {
            if($('#slideshowname').val()==""||$('#file').val()==""){
                layer.msg('名称或文件不为空');
            }else{
                var files = $('#file').prop('files');
                var data = new FormData();
                data.append('file', files[0]);
                $.ajax({
                    async:false,  //同步
                    type:"post",
                    url:"addslideshow?slideshowname="+$('#slideshowname').val(),
                    contentType:"application/x-www-form-urlencoded;charset=utf-8",
                    data: data,
                    contentType : false,
                    processData : false,
                    dataType:"json",
                    success:function(message){
                        layer.msg('添加成功');
                        setTimeout(function(){
                            location.reload();
                        },1500);
                    },
                    error:function(){
                        layer.msg('系统维护中！！！！');
                    }
                });
            }
        }
    </script>
</head>
<body>
<div align="center">
        <br>
        轮播图名称：<input type="text" id="slideshowname" name="slideshowname" placeholder="请输入名称"><br><br>
         <input type="file" name="file" id="file" ><br><br>
         <input type="button" value="提交" class="layui-btn" onclick="addslideshow()">
</div>
</body>
</html>