<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>子视频管理</title>
    <link rel="stylesheet" href="../layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../css/main.css" />
    <script type="text/javascript" src="../js/jquery-3.2.1.min.js" ></script>
    <script>
        function opensubvideoAdd() {
            layer.open({
                type : 2,
                title:'添加子视频',
                area : [ '500px', '350px' ],
                shadeClose : true, //点击遮罩关闭
                content : '/admin/subvideoAdd',
                end:function(){
                    location.reload();
                }
            });
        };
        function opensubvideoupdate(id) {
            layer.open({
                type : 2,
                title:'子视频信息修改',
                area : [ '400px', '300px' ],
                shadeClose : true, //点击遮罩关闭
                content : '/admin/subvideoupdate?id='+id,
                end:function(){
                    location.reload();
                }
            });
        };
        function openvdideo(videoaddress,mainvideoname) {
            layer.open({
                type : 2,
                title:'视频播放',
                area : [ '1200px', '620px' ],
                shadeClose : true, //点击遮罩关闭
                content : '/admin/video?videoaddress='+videoaddress+'&mainvideoname='+mainvideoname,
                end:function(){
                    //location.reload();
                }
            });
        };
        function delsubvideo(id,videoaddress) {
            $.ajax({
                async:false,  //同步
                type:"post",
                url:"delsubvideo",
                contentType:"application/x-www-form-urlencoded;charset=utf-8",
                data:{
                    id:id,
                    videoaddress:videoaddress
                },
                dataType:"json",
                success:function(message){
                    layer.msg('删除成功');
                    setTimeout(function(){
                        location.reload();
                    },1500);
                },
                error:function(){
                    layer.msg('系统维护中！！！！');
                }
            });
        }
    </script>
</head>
<body>
<br>
<div>
    <ul>
        <li>
            &nbsp;<input type="button" class="layui-btn"  value="添加" onclick="opensubvideoAdd()"></input>
        </li>
    </ul>
</div><br>
<div>
    <table class="table_t" cellpadding="0" cellspacing="0" border="0">
        <thead>
        <tr>
            <th style="border-left: 1px solid #ddd;">主视频名称</th>
            <th>视频地址</th>
            <th>视频名称</th>
            <th>相关操作</th>
        </tr>
        </thead>
        <tbody align="center" id="biuuu_city_list">

        </tbody>
    </table>
</div>
<div id="demo1"class="kaoyan-m"></div>
<script src="../layui/layui.js" charset="utf-8"></script>
<script>
    //分页
    var data;
    $(function(){
        $.ajax({
            async:false,  //同步
            type:"post",
            url:"getflsubvideoid",
            contentType:"application/x-www-form-urlencoded;charset=utf-8",
            dataType:"json",
            success:function(message){
                data=message;
            },
            error:function(){
                layer.msg('系统维护中！！！！');
            }
        });
    });
    layui.use(['laypage', 'layer'], function(){
        var laypage = layui.laypage
            ,layer = layui.layer;
        //总页数大于页码总数
        laypage.render({
            elem: 'demo1'
            ,count: data.length //数据总数
            ,limit:12
            ,jump: function(obj){
                //渲染
                document.getElementById('biuuu_city_list').innerHTML = function(){
                    var arr = []
                        ,thisData = data.concat().splice(obj.curr*obj.limit - obj.limit, obj.limit);
                    layui.each(thisData, function(index, item){
                        arr.push('<tr ><td>'+item.mainvideoname+'</td><td><p style="width: 200px;overflow: hidden;display: block;white-space: nowrap;text-overflow: ellipsis;">'+item.videoaddress+'</p></td><td>'+item.subvideoname+'</td><td><button onclick="openvdideo(\''+item.videoaddress+'\',\''+item.subvideoname+'\')" class="layui-btn">观看</button><button onclick="opensubvideoupdate('+item.id+')" class="layui-btn">修改</button><button onclick="delsubvideo('+item.id+',\''+item.videoaddress+'\')" class="layui-btn">删除</button></td></tr>');
                    });
                    return arr.join('');
                }();

            }
        });
    });
</script>
</body>
</html>